.e13_11 {
	overflow: hidden;
}

.e13_11 {
	background-color: rgba(0, 0, 0, 1);
	width: 1920px;
	height: 2160px;
	position: absolute;
}

.e13_14 {
	color: rgba(0, 0, 0, 1);
	width: 204px;
	height: 39px;
	position: absolute;
	left: 1667px;
	top: 67px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_15 {
	color: rgba(0, 0, 0, 1);
	width: 86px;
	height: 39px;
	position: absolute;
	left: 1130px;
	top: 67px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_16 {
	color: rgba(0, 0, 0, 1);
	width: 140px;
	height: 39px;
	position: absolute;
	left: 1316px;
	top: 67px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_17 {
	color: rgba(0, 0, 0, 1);
	width: 108px;
	height: 39px;
	position: absolute;
	left: 546px;
	top: 67px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_18 {
	color: rgba(0, 0, 0, 1);
	width: 122px;
	height: 34px;
	position: absolute;
	left: 923px;
	top: 71px;
	font-family: Inter;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e13_19 {
	color: rgba(0, 0, 0, 1);
	width: 94px;
	height: 39px;
	position: absolute;
	left: 744px;
	top: 67px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_20 {
	width: 206px;
	height: 67px;
	position: absolute;
	left: 13px;
	top: 7px;
	background-image: url(images/c5bc79f5_6741_4a9a_b167_5787cd376907_removebg_preview_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e10_17 {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 1035px;
	height: 605px;
	position: absolute;
	left: 357px;
	top: 86px;
}

.e10_18 {
	color: rgba(255, 255, 255, 1);
	width: 134px;
	height: 38px;
	position: absolute;
	left: 179px;
	top: 729px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e10_20 {
	color: rgba(255, 255, 255, 1);
	width: 74px;
	height: 38px;
	position: absolute;
	left: 1285px;
	top: 729px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_30 {
	color: rgba(255, 255, 255, 1);
	width: 103px;
	height: 38px;
	position: absolute;
	left: 1458px;
	top: 106px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_31 {
	color: rgba(255, 255, 255, 1);
	width: 138px;
	height: 38px;
	position: absolute;
	left: 1456px;
	top: 183px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e106_2946 {
	color: rgba(255, 255, 255, 1);
	width: 138px;
	height: 38px;
	position: absolute;
	left: 1456px;
	top: 273px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_37 {
	color: rgba(255, 255, 255, 1);
	width: 138px;
	height: 38px;
	position: absolute;
	left: 1456px;
	top: 356px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e13_38 {
	color: rgba(255, 255, 255, 1);
	width: 161px;
	height: 38px;
	position: absolute;
	left: 1456px;
	top: 451px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e10_21 {
	color: rgba(255, 255, 255, 1);
	width: 142px;
	height: 38px;
	position: absolute;
	left: 767px;
	top: 729px;
	font-family: Inter;
	text-align: left;
	font-size: 32px;
	letter-spacing: 0;
}

.e10_31 {
	width: 1035px;
	height: 605px;
	position: absolute;
	left: 357px;
	top: 86px;
	background-image: url(images/image_7.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	/* Definindo a opacidade para 50% */
}


.e10_33 {
	width: 119px;
	height: 115px;
	position: absolute;
	left: 815px;
	top: 331px;
	background-image: url(images/image_8.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e15_48 {
	color: rgba(255, 255, 255, 1);
	width: 55px;
	height: 44px;
	position: absolute;
	left: 1772px;
	top: 729px;
	font-family: Inter;
	text-align: left;
	font-size: 36px;
	letter-spacing: 0;
}

.e15_86 {
	background-color: rgba(60.56249924004078, 60.56249924004078, 60.56249924004078, 1);
	width: 1920px;
	height: 913px;
	position: absolute;
	left: 0px;
	top: 1247px;
}

.e15_674 {
	color: rgba(255, 255, 255, 1);
	width: 229px;
	height: 34px;
	position: absolute;
	left: 1580px;
	top: 110px;
	font-family: Inter;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e15_675 {
	color: rgba(255, 255, 255, 1);
	width: 319px;
	height: 68px;
	position: absolute;
	left: 1580px;
	top: 187px;
	font-family: Inter;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e106_2947 {
	color: rgba(255, 255, 255, 1);
	width: 76px;
	height: 27px;
	position: absolute;
	left: 1549px;
	top: 277px;
	font-family: Inter;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e96_10 {
	width: 86px;
	height: 53.73134231567383px;
	position: absolute;
	left: 1606px;
	top: 450px;
	background-image: url(images/image_18.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e170_21 {
	width: 86px;
	height: 53.73134231567383px;
	position: absolute;
	left: 1578px;
	top: 351px;
	background-image: url(images/image_26.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e15_958 {
	background-color: rgba(0, 0, 0, 1);
	width: 525px;
	height: 399px;
	position: absolute;
	left: 94px;
	top: 793px;
}

body {
	background-color: #212121;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


.e15_958 {
	border: 1px solid rgba(255, 255, 255, 1);
}

.e15_957 {
	color: rgba(255, 255, 255, 1);
	width: 510px;
	height: 290px;
	position: absolute;
	left: 109px;
	top: 810px;
	font-family: Inter;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e167_61 {
	width: 80px;
	height: 60px;
	position: absolute;
	left: 1706px;
	top: 451px;
	background-image: url(images/image_23.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e167_63 {
	width: 80px;
	height: 60px;
	position: absolute;
	left: 1679px;
	top: 350px;
	background-image: url(images/image_24.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e168_68 {
	width: 702px;
	height: 500px;
	position: absolute;
	left: 558px;
	top: 757px;
	background-image: url(images/image_removebg_preview__3__2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e168_73 {
	width: 407px;
	height: 88px;
	position: absolute;
	left: 1359px;
	top: 707px;
	background-image: url(images/image_25.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e168_74 {
	width: 1243px;
	height: 872px;
	position: absolute;
	left: 320px;
	top: 1271px;
	background-image: url(images/image_removebg_preview__6__1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e170_23 {
	width: 80px;
	height: 60px;
	position: absolute;
	left: 1786px;
	top: 350px;
	background-image: url(images/image_27.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e170_24 {
	width: 80px;
	height: 60px;
	position: absolute;
	left: 1800px;
	top: 450px;
	background-image: url(images/image_28.png);
	background-repeat: no-repeat;
	background-size: cover;
}